
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>停机故障报告分析系统</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style type="text/css">

        body {
            margin:0px;
        }
        #wrapper {
            padding: 0px;
            margin: 0px;
        }
        #page-wrapper {
            padding:0px;
            margin:0px;
        }
    </style>

    <script type="text/javascript" src="gstatic/loader.js"></script>
    <!--<script type="text/javascript" src="js/charts/loader.js"></script>-->


    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/d3.min.js"></script>


</head><body>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->




            {{{body}}}


        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>


</body></html>
