<h1>{{title}}</h1>
<div id="calendar_basic" style="width: 1000px; height: 600px;"></div>


 <script type="text/javascript">
$(document).ready(function() {
      
      
            	      	     });   
 </script>
