<style type="text/css">
    text {
        text-decoration: underline;
    }
</style>
<h1>{{title}}</h1>
<div id="wordtree_basic" style="width: 1000px; height: 850px;"></div>


 <script type="text/javascript">
$(document).ready(function() {
         google.charts.load('current', {packages:['wordtree']});
         google.charts.setOnLoadCallback(drawChart);
         
         function drawChart() {
           var data = google.visualization.arrayToDataTable(
             [ ['Phrases'],
['jrl110 工位 r2 机器人 通讯 故障'],
['ehd045rthre 切换 抓手  出现 故障 报警'],
['jub000p p transfer 伺服 放大器 故障'],
['jbsl  升降 臂 在 回 home 途中  沉 与  工位 护栏 碰撞'],
['jrl120 l2 机器人 焊接 控制器 跳 闸'],
['jur050ron 机器人 焊枪 backup 关闭  动作'],
['jrl090 工位 左侧 l1 手工 焊枪 显示屏   没用 动作'],
['jfm120l2 e1on 车顶 焊点 炸 电极 帽'],
['jfm150lon 激光 焊 焊接   途 焊接 终止'],
['jur050l2 焊枪 故障  电极 臂   连接 拉 弧'],
['sfi020 升降 电机 变频器 过 流 报警  出现   复位'],
['jfm130 工位 uon 机器人 修 磨 电极 帽  电极 帽 脱落 出现  次'],
['生产 保修 jbs70ron  焊枪 焊点 扭曲 影响 质量 维修 到 现场 检修 发现 c 型 焊枪 平衡 气缸  漏 失去 焊枪 平衡 功能'],
['ehd25ron 铆接 枪 在 做 e10  该 枪  铆接  压力 反馈 信号  稳定 铆接 有 延   停止 运行'],
['jbsl 60ron gun 没有 动作'],
['jfm090 右侧 gate 切换 到 e1on  报警 通讯 故障 插 拔 gate 信号 接头  通讯  下  轮 切换 到    报警 通讯 故障 测量 信号 接头 通讯 电缆  发现 断 路  飞 线 维持 生产 确认 方案  进行 抢修'],
['jrl100lon 焊机 跳 闸 检查 发现 转动 接头  汇 电 环 拉 弧'],
['后门 压 机 涂 胶 停止 涂 胶  检查 发现 涂 胶 机器人 控制 柜 内部 dc24v 电源  开 跳闸 维修 过程 记录 维修 的 步骤 troubl shoot describ the repair step'],
['emc075ron 机器人 在 emc70 工位 抓  围  报警 停止'],
['jfm120 l1 e car  焊接 故障 碰撞 报警'],
['e1on 后门 压 机 报警 safeti hook 打开  到位 报警'],
['cv2  移 小车 ct  影响 线 速'],
['jfm120 l1 机器人 在  运行  示 教 板 fault 灯 亮'],
['jfm120 l1 e car  故障'],
['l car 焊枪 平衡 缸 漏气 实效'],
['   辆 车  故障'],
['sfi060e10 e11g 切换  到位'],
[' 工位 runbar 安全 回路 急 停 报警'],
[' 拼 机 运 线 所有 工位 雪橇   运行'],
['sfi060 工位 gate 切换  右侧  方向 主导 轨  移 电机 变频器 过载 报警'],
['jfm090 l3 做 c car 故障 报警'],
['jfm120 l1 r1'],
['jfm150ron 线缆 支架 弹簧 断裂'],
['sur010l2  杆 断裂  杆 撞 在 98f 门槛 板 '],
['eso 左侧 机器人 l2 放 抓 具  通讯 报警 停止  复位  机器人  gripper 拉 出 停放 位置  将 gripper 固定 夹 头 位置 拉 偏'],
['生产 抱怨 eub 吊 具  手柄 控制 下降 速度   进行  线 速 生产'],
['emc036 机器人 焊接  故障'],
['cv6  转台  动作'],
['jrl060r2 焊接  backopen 故障 报警'],
['jrl100lon 焊接 报警 检查 发现 焊机 隔离 接触 器 拉 弧'],
['r1 机器人  抢 无 动作'],
['jfm120ron 机器人 放 枪   停止 运行 需要  跳  换 枪 盘 unlock 信号'],
['jrl90 滚 床  进  动作'],
[' 右侧 gate  dump  打开  动作 打开 安全门  关闭  能  操作'],
['jfm150 左侧 激光 焊   辆 车 焊接 出错'],
['jfm120 报警 l1 机器人 执行 车型 匹配  正确'],
['cv1thre 小车 停止 运行 维修 到 现场 检查 发现  小车  追加 的 小车  部  螺栓 断裂'],
['jrl50r2 焊枪 backup 没有 动作'],
['jfm130ron 焊机 跳闸'],
['sfi110 l3 焊接 故障'],
['jfm090ron 焊枪 backup 关闭 动作 慢 导致  焊接'],
['  夹 头 tiebar 定位 孔 卡住  关闭'],
['cv4 tc112  tc110 移 载 机 停止 在  z14 模式 丢失 重复  次'],
['e car  盖 r3 抓 料 机器人 放 料   盖  掉 落 返修 造成 产量 损失'],
['cv3 出口 升降台 滚 床 雪橇  向 升降机 滚 床 运动'],
['jfm090 工位 gate  关闭 机器人 部分 进 paunc 无 报警 信息'],
[' 胎 模  夹 紧 导致 胎 模 脱离 车体'],
[' 打开  报警 lh gate clamp on open  made'],
['机器人 焊枪 水 冷 电缆 靠近 dress 套管 处 破 皮 漏水 e1on 车型 靠近 焊接 变压器 端 非 dress 套管 保护 处'],
['jfm130 抓 料 机器人  启动'],
['jfm90lon 在 作 e10  backup 无 动作'],
['jrl80ron 机器人 ovc 报警 胎 模 挂 上 侧 围   能  运行'],
['机器人 r2 焊接 过程  爆 电极 帽 更换 电极 帽  修 磨  用 示 教 板 操作 焊接 完成 恢复   第二 辆 车 l1 l2 r1  调用 程序   进入 焊接'],
[' 拼 jfm090 工位 过 c car  工装 切换 故障 左侧 un21nin c0on open  到位 报警'],
['sfi060 报警  move to  error'],
['sur010 机器人 碰撞 报警 复位   出现'],
['jur40lon 焊枪 backup  动作 导致 焊枪  重复 故障'],
['cv3 滚 床  动作'],
['emc060r2 机器人 焊枪 从 早班 开始 出现 爆  帽 现象 采用 润滑 电机 丝 杆   更换 电极 帽 维持 生产 生产 至 凌晨 on  焊枪 状态 恶化  纵 梁 附近 焊点 爆 电极 帽'],
['jfm090 工位 停止 运行'],
['雪橇 在 cv5 rb02 位置 停止  动'],
['eso l4 机器人 devic net 通讯 报警 停止  检查 发现 t 侧 换 枪 盘 接 插 件 损坏'],
['eso r1 机器人 在 放 料 位置 焊接 位置 取 料 位置  出现 通讯 故障'],
[' buffer 连杆 断裂 伸展 机构 滑 座 拉 坏 停止 位 传感器 撞 坏'],
['l car gate  ln227 dump   到位'],
['l1 激光  能 启动 激光'],
['sur04f 螺 柱 焊机 焊接  电流 报警 电极 无 动作'],
['cv1on 解 垛 机 rb27 滚 床  的 雪橇 到位 没有 停止 碰撞 升降台 滚 床  部 活 挡 块  停止 因 rb27 占 位 信号 丢失 rb26 的 雪橇  条件 满足 碰撞 rb27  的 雪橇  垛 雪橇  交 错'],
['eub shuttl 线 返回  碰撞 后退 死 挡 块 死 挡 块 支架 开裂'],
[' openg 右  锁 紧 到位 传感器  到位'],
['esoron 模块 通讯 故障'],
['eso l2 机器人 以太网 通讯 故障  出现'],
['eub20 工位 r2 eub50 工位 l2 焊枪  出现 焊接 故障'],
['jfm90 工位 开班 第一 辆 车 机器人 没有 动作'],
['sfi110r2 机器人  焊接 控制器 以太网 通讯 故障  出现'],
['esol6 devicenet 通讯 故障 3thre  '],
['jrl40 r2 故障 '],
['sur10r2 机器人 焊枪   关闭  延迟 关闭 造成 焊接 报警'],
['jfm090lthre 机器人  运行    发生  号 轴 伺服 碰撞 报警'],
['sfi060 gatelock 卡 打开  到位'],
['sfi100l2  响应 plc 指令'],
['bdca106 剪 式 升降机  上升'],
['eso l2 机器人 换 枪   漏 气 进入 工位 检查 发现 换 枪 电磁 阀 气管 接头 破碎 机器人 dress 抱 箍 拉 坏'],
['工位  车型  uon 机器人 放 gripper 失败  unlock'],
['jfm120 工位 故障 进入 工位 检查 发现 unit204c0thre 钩 销 打开 信号  亮'],
['sur010 工位 e1on 车 型  skid 落 车  '],
['edr 涂 胶 机器人  涂 胶'],
['eso r2 机器人 换 枪     脱 枪 为 解决 问题 调整 机器人 轨迹  次  影响 时间 '],
['smc 工位 焊接 故障   复位 现场 检查 发现 机器人 l2 死 机 维修 完成 主线 设备 抢修  到 c car 区域 修理'],
['机器人 pogo  出现 焊接 故障 现场 检查 发现 电缆  缆   缆 连接 处 拉 弧 底板 区域 维修 人员 对 拉 弧 的 电缆 接头 进行 处理 停机 时间 包括 离开 处理 e car 主线 故障  轮班 吃饭 时间'],
['cv1thre 小车 停止 运行'],
['螺母 焊机  电极 熔化'],
['jfm090g 切换  报警 停止 work 位置 l20'],
['电极 杆 接 杆 断裂'],
['cv4tc112 无 动作 cv4 无 报警'],
['eso10l 阀 岛 工作 电源 无'],
[' bk0thre 模块  路'],
['jfm40 工位  车型 落 车   次'],
['jfm 机 运 线  急 停'],
['jrl050 故障 报警 l2 backup close  到位 动作 慢  报警'],
['eub050r2 抓手 放 横梁  倾斜'],
['jfm90 c car 落 车  到位'],
['e1on 前门 压 机 工作 速度 减慢  油 缸 漏 油'],
['ehd5f r6 机器人 抓手 真空 发生器 损坏 型号 zm31h k5lz e55c'],
['esol6 机器人 抓手  3thre devicenet 通讯 模块  通讯 报警'],
['该 枪 在 焊接   炸 电极 帽   板材 焊 穿'],
['cv6  解 垛 机 皮带 断裂'],
['sfi060 机器人 l3 焊接 报警'],
['中班 生产 过程  cv7 cv1thre 小车 重复 故障 小车 变频器 报警 小车 停止 需  干预 复位 cv7  20min cv1thre  '],
['eub20l2 焊枪 炸 电极 帽 重复  次'],
['jfm90 工位 r2 焊枪 粘 电极 帽 在 焊接 位置 附近 更换 电极 帽   粘 掉'],
['jfm150ron e  激光 焊 停止 烧 焊 位置 偏 '],
['jrl120ron 机器人 安全 回路 故障 e stop 报警'],
['emc030   个 吊 具 焊缝 处 开裂'],
['eso r6 焊接  报警'],
['jrl100ron 电极 帽 掉 落 电极 杆 拉 坏'],
['焊接 c car  电极 帽 粘 落'],
['erf r1 机器人  胶  报警'],
['esi 右侧 工装 操作 人员  复位 安全 扫描器 打开 关闭 夹 头'],
['eso r4 机器人 伺服 焊枪 g2aon 伺服 编码器 报警  电 复位  能 恢复 运行  出现 第  次   复位 故障 用 备件 编码器 电缆 飞 线  恢复 运行'],
['eub20l2 焊接   杆 被 粘 落'],
['jfm70 工位 雪橇 停止 运行 维修 进入 工位 检查 发现  皮带 断裂'],
['jfm90 工位 r1 机器人 出现 焊接 故障  维修 人员 用 示 教 板  干预  上   机器人 r1  r0 发生 碰撞'],
[' 拼 jfm90 工位 e10 车型 unit277 夹 头 打开  到位 报警'],
['电极 杆 tab 漏水 生产 更换 电极 帽   断裂'],
[' shuttl  载 料 上升  前进 过程   下 落'],
['eso 机器人 停止 工作'],
['esol2 机器人  伺服 报警 crcerr 伴 有 sphal 重 启    发生'],
['eso 机器人 停止 工作'],
['sfi100lon 焊机 跳闸'],
['补焊 线 生产 人员 抱怨 jrl110r2 焊枪 P 焊 的 焊点 发生 偏移'],
['jrl120l2 更换  缸'],
['jrl50ron 机器人 换 枪 报警 维修 人员 作 跳 转 处理   机器人 开 到 pounc 位置 恢复   焊枪  车身 干涉'],
['总装 报 车身 停 线 生产 抱怨 jfm020 机器人 结构 胶 溢 胶 向 下 漂移'],
['jfm090rthre  位置 焊点 报警'],
['uon 机器人 焊枪 掉 电极 帽   走 程序 更换 电极 帽  开 回  位置  拉  侧 围 延伸 板'],
['eso l2 机器人 更换 抓 具  报警 停止 进入 工位 检查 发现 dress 喇叭口 抱 箍 底座 拉 碎'],
[' 右侧  块  板 在 返回  行程 损坏'],
['e car 前门   通讯 故障'],
['eso l6 机器人   焊接'],
['eub020lon 伺服 焊 抢 焊接   抢  插 式 冷却水 管 接头 损坏'],
['jfm120r2  停 报警'],
['esi011lh 工位 3fiv      模块 通讯 报警'],
['jmc000 pick place lifter4  动作 伺服 报警'],
['hmi 报 焊接 故障 焊枪  焊接'],
['jb 右侧 p p 抓手 控制 系统 通讯 故障'],
['早晨 开班 生产 抱怨 焊点  扭曲 当时 为 e10 车型 开班  更换  问题 焊枪 的 平衡 气缸'],
['jrl30r2 water saver 报警 进入 工位 检查 发现 上下 电机 杆 锥面 损坏'],
['esol 工位  工位 停止 运行 维修  到 现场 检查 发现 工位 通讯 报警'],
['补焊 线 jrl100lon 机器人 焊枪 焊接 故障 维修 到 现场 检查 发现 焊枪 没有 闭 枪 动作'],
[' 拼  工位 机器人 uon 报警 停止 维修 进入 工位 检查 发现 618gripp 夹 头  打开'],
['设备 巡 检 发现 jfm120 工位 dress 喇叭口 处 的 球 头 从 抱 箍  拉 出'],
['生产 人员 开班 设备 检查  发现  工位 弹性 支架 相关 的 定位 销 支 架 r 钉 销 断裂  螺栓 松动  处'],
['eub30 感应 器 支架 断裂'],
['emc07f 涂 胶 枪  胶 管 处 接头 断裂'],
['jrl100 工位 因 r1 机器人 焊枪 故障 停止  运行'],
[' clampon 气缸 故障'],
['esi010rthre  焊接'],
['sfi060 通讯 故障'],
['维修 人员 巡视 过程  发现 eso r6 机器人 换 枪 盘 机器人 侧 水 接头 漏水'],
['jfm90l4 粘 电极 帽'],
['jrl050lon 机器人 焊接 e car 车型  hmi 报 water saver 故障'],
['jrl120lon 焊接 故障'],
['jrl80 工位 有  夹 头  打开  到位 报警 初始 能 复位'],
['eso10l 工位 报警 停止 报警 信息 为 通讯 故障'],
['eub50l2 机器人 焊枪 报警 停止 维修 到 现场 试图 用 示 教 板  操作 焊接 示 教 板 出现 move error 报警'],
['jrl110lon 电极 帽 脱落'],
['jrl50r2 焊枪 爆 电极 帽'],
['eso l2 机器人 放 料 位置    出现'],
[' 工 装  tuenker 气缸 打开 关闭  到位'],
['eub20r2 机器人 粘 掉  杆  次 粘 掉 电极 帽 on 次'],
['emc070ron 机器人 焊接  车型 靠近 右侧 仪表 板 处  焊点 炸 枪 修 磨 电极 帽 处理  恢复 运行  小时  故障 重复'],
['eub30 工位  个 气缸 夹 头 打开  到位 报警 工位  shuttl  动作'],
['sur 机 运 线 在 从   运行   060 机 运 线 平台  下沉 车身 底板  工装 卡住'],
['sur080lon 电极 杆 掉落'],
['sur080 出现 焊接 报警 复位  发现 r1 伺服 焊枪 编织  连接 冒烟'],
['e1on 前门 压 机油 温  报警'],
['sfi100r2 机器人 报警'],
['e10 后门 压 机  工位 输送 台  动作'],
['esil20 转台 工装 故障'],
['eso16 工位 机器人 等 待 抓 料 滑 台 工装 夹 头 打开  到位 报警'],
['  车 在 jfm40 上升 下降 段 停止  '],
['eso r7 机器人 报警 watersav 无 输入'],
['jfm90 r0 devicenet 通讯 故障'],
['eso 右侧  工位 有  dump 关闭  到位 报警 夹 头 夹  到 位'],
['jrl100ron 机器人 焊枪 无 动作'],
['eso  焊枪 气缸 backup  动作'],
['早班 开办 生产 人员 发现 焊点 扭曲 维修 检查 焊枪 发现 伺服 焊枪  轴 松'],
['jrl90 工位 滚 床  的 雪橇   运行'],
['esor6 dterr 报警 频繁'],
['jfm90r4 在 焊接 过程   跳 闸'],
['sur060 雪橇 冲  头'],
['jrl90 工位 滚 床  的 雪橇   运行'],
['c car 钢印 机 控制器  字 打印 成   字'],
['sur080ron 机器人 焊接 报警'],
['cv14 空中 机 运 线 下线 升降机 处 小车  通过'],
['sfi30 工位 雪橇  动作 维修 生产 人员 处理 故障  遮 断 隔离 光栅 导致 sfi60 工位  机 运 线  停止'],
['sur080ron 机器人 焊接 报警'],
['emc07f 滑 道 缓冲器 支架 断裂 焊接'],
[' 车型  机器人 gripper 放 到 车 身上  设备 故障 停止 固定 夹 头  没有 夹  维修 进入 工位 检查 发现 gripper 倾斜 靠 在 后 围 板   检查 发现 机器人 侧 换 枪 盘 损坏 gripper 脱落'],
['  部 尺寸 波动 调整  拼  工位 定位 工装'],
[' 拼  焊枪 在 抓取 gripper 报警'],
['esol2 dterr 报警 频繁'],
['on esol6 当班 期间  报警  esol6 dnet 通讯 报警'],
['jrl120 升降机 倾覆'],
['esol6 机器人 碰撞 报警 侧 围 掉 落 在 工位 围栏 '],
['emc 轮 罩 左  中部  纵 梁 翻  配合 的 y 向 定位 块  螺栓 断'],
['jrl30l2 焊接 98f 车型  发生 机器人 焊枪 报警 复位 观察  发现 机器人 dress 缠 在  轴 '],
['jrl 机 运 线 z12  停 hmi 通讯 报警'],
['jur40l2 焊枪 焊接 无 电 流'],
['jur40ron 焊枪 电极 杆 损坏'],
['esol2 机器人 乒乓 板 移位 抱 箍 断裂 dress 松 脱'],
['openg 右  gate 锁 打开  到位 报警 维修 进入 工位 检查 gate 锁 打开 感应 片 变形 完成 整修  设备 恢复 运行  小时  故障  出现'],
['esi010 工位 夹 头  动作 维修 到 现场 检修  发现 工装 所有 夹 头  动作'],
['jrl130rthre 焊机 失 电'],
['esol2 机器人 抓起 抓手 离开  抓手 脱开 坠落'],
['jur040l2 焊接 故障  焊接'],
['cv7 lift1thre 上升  没有 动作'],
['jfm90 gate  方向 移动 故障'],
['jrl50ron 机器人 e car 焊枪 变压器 低压 出线 端 处  连接 漏水 观察 跟踪 使用  发生 跳  开 现象 联系 生产 backup 生产  更换 焊接 变压器'],
['jrl60l2 机器人  dress 的 乒乓 拍 断裂'],
['cv7  侧 围 升降机 小车 进入  升降机 高位 丢失 导致 安全门  打开'],
['e car  盖 机器人 e11gripp  的 机器人 slave 阀 岛 模块 通讯 故障 3thre'],
['cv13em 线 lifton 升降 段 处 2on 小车  状态  冲  停止 位 碰撞 前方 的 小车'],
['jfm90ron 焊枪 在  焊点  出现 焊接 故障'],
[' 处 升降 段 待 侧 围 小车 离开  侧 围 碰 空中 平台 网格 正确 的 侧 围 悬挂 位置'],
['jfm90 工位  车型 完成 焊接  右侧 gate 打开 途中 变频器 过 流 报警'],
[' gripper 夹 头  到位 '],
['jbsl060lon 乒乓 板  螺丝 断裂 dress 拉  电磁 阀'],
['e  前门 压 机油 缸 漏 油'],
['cv4 cl114 升降台  下降 升降台 下降  到位 报警'],
['jfm090 焊接 故障  c 系数  低'],
['sfi110ron 焊接  有 间歇 性 虚 焊 发生'],
[' 升降 滚 床 倾斜'],
['jub000 p p transfer 伺服 放大器 故障'],
[' 修 磨  碰撞 报警'],
['jfm140 做   r1 乒乓 板 拉 弯'],
['jbs110buff 托 板 定位  佳 导致 与 工件 干涉'],
['jfm090 工位 e1on 左侧 gate   到位 报警  次  处理  恢复 设备 运行  右侧 其它 车型 gate   出现 各种 夹 头  到位 报警 检修 过程  发现 左侧 gate 模块 电源  稳定 因 绝缘 硬化 损坏 的 电缆'],
['sfi060e1on 车型 左侧 衣帽 板 销子  入 孔'],
[' buffer 举 升 机 铲 料  右侧 铲 脚   挂 住 右侧 围 引起 举 升 台 上升  右侧 围 荡 下'],
['jfm090 工位 左侧 gate 电源线 拉 断'],
['jfm090uon 机器人 gripper 在 推进  定位   端 板  碰撞 报警'],
['eub 区域 shuttl 线 liftthre  上升 设备 停止 运行'],
['e1on 前门 压 机 液压 泵 冷却水  管 接头 断裂 e1on 前门 压 机  油管 接头 喷 油'],
[' 拼  工位 机器人 l1 照相  bauma 方法  找到 焊缝'],
['jur050lon turck 模块 通讯 故障 通讯 报警'],
['eso l6 机器人  抓 枪'],
['jfm040  侧 围 工位  车型 升降机    下降 切换  模式 操作 升降机 下降'],
['jbs110 右侧 buffer 的  块  板  卡住 变形'],
['cv3 链 式 buffer 摆渡 车 停止 运行'],
['emc060 机器人 报警 停止'],
['jfm90lon 机器人  运行    轴  碰撞 报警'],
['jfm150 安全门  关闭'],
['jfm040 助力 器 模块 无 电 源 检查 过程  机 运 线 跳  停'],
[' 升降 滚 床 传动轴 连接 法 兰 固定 螺栓 断 滚 床 倾斜'],
['sfi060e10 车型 完成 焊接  gate   打开 gate 关闭 电机 驱动 变频器 过 流 报警'],
['sur060rthre 机器人 伺服 焊枪 打  焊点 焊接 压力 过  报警'],
['jfm090 工位 机器人 r3 焊枪 e  车型 焊接 故障'],
['jfm90  拼 工位 右 测 gate 打开 关闭   出现  流 报警'],
['jrl100 工位 l2 机器人 焊接 故障 跳 点  问题  出现'],
['emc50 工位 左侧 滑 台  动作'],
['jrl70ron 中频 焊机  焊接'],
['jfm90 工位 r2 焊枪 焊接  车型  粘 电极 帽  焊枪 出现 爆  帽 现象'],
[' 拼  右  钩 销 套 件 断裂'],
['jrl080ron c car 折   停止 工作'],
['jfm090 r3 机器人 焊接  车型   出现 焊接 故障'],
['cv3lt0on 升降 滚 床 滚 床 传动轴 断裂'],
['esi020rh 转台 冲  头'],
['机器人 l2 通讯 故障'],
['jfm090 切换 c car 车型  右侧 gate 锁 紧 到位 信号  到位'],
['jub p p lifton 抓  围  位置    调整 lifton  各 翻 板 托 架 位置'],
['esolh 1on 滑 台 在  工位   返回 到位'],
['jbs10r 工装  掉 模式 通讯  稳定'],
['切换 e  左侧 gate  y 向 移 载 机 变频器 过载 报警'],
['jfm090 l3  能  换 枪'],
['jrl120ron 焊点 扭曲'],
['jfm090 工位 e  左侧 gate   工装 夹 头 打开  到位 报警'],
['sfi100lon 焊机 焊接 报警'],
['sur040ron 机器人  钉螺 柱 焊枪  焊接  柱 焊枪 提升 距离  报警'],
['jrl60 工位 做 完  车型 开始 做 e1on 车 型 l2 机器人 放下  焊枪 抓 e car 焊枪 过程  机器人  轴 dress 抱 箍 底座 拉 断 造成  芯 电缆 损坏 电缆 座 开裂'],
['jrl60 工位 做 完  车型 开始 做 e1on 车 型 l2 机器人 放下  焊枪 抓 e car 焊枪 过程  机器人  轴 dress 抱 箍 底座 拉 断 造成  芯 电缆 损坏 电缆 座 开裂'],
['eso l6 机器人 抓 枪  碰撞 报警  处理 问题   放 枪'],
['前日 夜班 jrl60r2 发生 掉 电极 帽 故障 判断 静电  杆 锥面 有 问题 当时 更换  发现 动  杆  有 问题 夜班 生产 结束  更换 早班 开 班  发生  杆 碰 坏  围 板 问题 调整 e10 车型 轨迹    调整  车型 轨迹 调整 e1on 轨迹'],
['jfm130ron 焊枪 报警 svgn  paus gun master is fail'],
['jrl100lon 焊接 e1on 运行 到 b 柱 附近  点  发生  轴 伺服 报警'],
['早班 开 线   出现 升降机 滚 床  的 雪橇   到达 rb0on 过渡 滚 床 造成 cv5 表 调 线 空 档  出现 rb0on 滚 床 停止 run out 运行 需要 人力 干预 使 带 车 雪橇 运行 到 输送 皮带 '],
['e1on 后门 压 机油 缸  上升 下降'],
['jbs070l 工位 设备 停止 运行 触摸屏 显示  刷新'],
['jfm090 左  侧 gate 驱动 单元 驱动 齿轮 箱 机械 机构 断裂'],
['jfm090 左  侧 gate 驱动 单元 驱动 齿轮 箱 机械 机构 断裂'],
['早班 开 线  jrl040ron 焊接 故障 报警 维修 到 现场 检修 发现 机器人 焊枪 backup 关闭 速度 慢'],
['jrl70 工位 车身 完成 焊接  升降 滚 床  升 过程   停止 复位 故障  设备 能够 恢复 运行'],
['早班 生产 开始    修 磨 电极 帽 效果 差 导致 焊接 分流  该 焊枪 焊点  出现 虚 焊'],
['生产 过程  jrl050r2 焊枪  关 枪 焊接'],
['jfm090 r3 e car 焊枪 修 磨   轴 抱 箍  机器人 本体 干涉'],
['jub p p lifton  cv1  围 撞击 左侧 导致  围 变形 lifton 支架 位置 偏移'],
['jfm090r2 焊枪 焊接 故障  电流 报警'],
['jfm120 工位 切换 e car  右  升降 勾销 切换  到位'],
['cv7 侧 围 下线 升降 段 电 排 错位 导致 小车 电刷 拉 坏'],
['jur50 工位 l2 焊枪 枪 臂   连接  的 接触面 拉 弧'],
['jfm030 工位 滚 床 盖板 被 运动 雪橇 刮 起  压 到 雪橇  变频器 过载 报警'],
['jfm090 工位  gate profibu 网络 通讯 故障'],
['jrl60 l1 焊机 跳 闸   复位'],
[' 2on 中班 jfm090 左侧 gate 锁 紧  到位'],
['jrl050 工位 被 bypass  有  台 车  进行 焊接 其中  台  装 轮 罩盖 板'],
['jub000 p p lift4 夹 头  动作'],
['jfm150 激光 焊工 位 报警 l1 机器人 找  到 焊缝 '],
[' watersav 报警 uon 焊接 电缆 磨损 漏水'],
['jrl 机 运 线 报警  工位 升降 滚 床 下降  到位'],
['jub p p 输送 设备 抓 放 料 位置  正确  调整  位置  变化'],
['cv2  移 机 cl02  升  到位 报警'],
['jrl60 l1 焊接 控制 柜 跳闸  复位'],
['jfm090 过    围 板  到位 uon 报警'],
['c car 过  拼  r3 故障  动作'],
['jbs20l 工位 机器人 r2 焊枪 故障'],
['jfm090rthre 过 98f  故障 报警'],
[' 拼  工位 机器人 激光 焊枪 视频 系统 bauma sensor 系统  找  到 焊缝'],
['后盖 机器人 铆接 工位 铆接 枪 从 停 枪支 架  坠落'],
['jfm120 工位 停止  运行 维修 到 现场 检查 发现 r1 机器人 r 侧 换 枪 盘 碰撞 停 枪支 架 活动 保护 盖'],
['sur010 l2 机器人 close backup 信号  亮'],
['jrl040r2 机器人 轨迹 运行  j2 axi 变速箱 发出 机械 异 响  车型 焊接  有  次  轴 电机 电流 超 极限 报警 g1 a2'],
['jfm120 r1 机器人 故障'],
['jfm120 工位 停止  运行 维修 到 现场 检查 发现 r1 机器人 焊枪 静电  杆 与 车身 干涉'],
['jrl000 机 运 线 c3 z1thre hmi 报警'],
['eso 左侧  工位  停止 机器人 l4 抓手  停止 产生 的 冲击力 导致 夹 头 位置 偏转'],
['jfm90 工位 过  车型   围 板  到位  操作 机器人 gripper 后退  围 板  安装  设备  运行 发现 gripper 安装 到 openg  的 检测 开关 没有 动作'],
['emc shuttl 控制 柜  电  d7 段 通讯  建立'],
['jrl170 工位 升降 滚 床 工位 在  车身 完成 工序 离开 工位   下降 导致 带 车 雪橇 搁 在 工位  的 隔离 围栏 '],
['jrl60ron 机器人 焊枪 在  焊接 轨迹  处于  闭合 状态   用 输出 指令 打开'],
['jrl80 工位  停止 现场 维修 根据 报警 信息  机器人 l1 控制 柜  的 安全 模块 断电  起 此 故障 当班 发生  次'],
['cv4 滚 床 线 rb106 滚 床  的 雪橇  运动 到 rb107 滚 床'],
['jfm120 l1 换 枪  放  掉 焊枪'],
['工位  报警  停止  运行 r1 机器人 焊枪 backup  open'],
['jrl050 工位 r1 机器人 切换 焊枪 释放 l car 焊枪  焊枪 梅 达 焊机 自 检  通过 报警'],
['cv5 rb02 滚 床 出口 端 滚 轮轴 断裂 导致 雪橇  运行'],
['jbsl040lon 焊机 上方 水管 爆 掉 漏水'],
['jrl150 空中 吊 具 气管 接头 拉  漏气 导致 吊 具  使用'],
['esor2  模块 通讯 报警  无  位置 维修  复位 维持 生产  准备 备件  抢修  生产 协调 堆 料  进行 飞 线'],
['jrl60ron 炸 电极 帽'],
['jur50lon 焊接  炸 电极 帽   工作'],
['jrl030lon 焊枪 报警 维修 到 现场 检修 用 示 教 板 操作  关闭 焊枪'],
['jrl040ron 焊接 控制 柜 跳闸 复位 焊接   跳 闸'],
['cv3 操作 触摸屏 报警 cl0thre 升降台 没有 升起'],
['jfm090 工位 e  工装  夹 头 打开 报警'],
['sfi100r2 焊机 以太网 报警 通过 交换 交换机  端口 复位  sfi100r2 机器人  焊机 以太网 通讯 报警   能 复位'],
['eub030  停 报警  复位'],
['jrl50r2 机器人 焊枪 报警 停止 维修 到 现场 检查 发现 机器人 焊枪 控制 模块 电源线 脱落'],
['eso l2 机器人 devic net 通讯 故障 机器人 断电  启  丢失 车 型  操作 机器人 焊 完 侧 围  完成  抓 料'],
['jrl030ron 焊枪 焊接   故障 焊枪 打开 无 动作'],
['jrl030ron 焊接 故障'],
['jfm090lthre 焊枪 e10 车型 焊接  电极 帽 落  watersav 故障'],
['jfm150ron 机器人 等 待 激光 焊机 准备 完成 信号 di102'],
['jrl050ron e car 机器人 焊枪  出现 焊接 故障'],
['jrl30r2 焊枪 炸 电极 帽  出现 焊枪  关闭 现象'],
['jfm150 工位 右侧 激光 焊机 组  通过 自 检 启用  方案 用 左侧 激光 焊机 焊接 车顶  焊缝 焊接   辆 车  左侧 激光 焊机 组 冷却 单元 超 温 报警'],
['jfm90 工位 r3 机器人 停止 运行 维修 到 现场 复位  故障  发生'],
['jfm120 工位 ecar 落 车  到位 频繁'],
['jrl080ron 在  滚边  胎膜 夹 头 报警 打开  到位 维修 人员 错误 判断 为 夹   到位 强制 此 信号  胎膜 运行 夹 头 连接 块 被  车身 拉 断'],
['e1on 后门 压 机 压 机 右侧  模 安全 钩 在  工作 周期 断裂'],
['eso l1 机器人 抓 放 料 gripper  根  梁 在 机器人 从 home 位置 到 抓 料 位置 中间 轨迹 途中  断裂 断裂  无 任何 先兆'],
['esolon 夹 头 关闭  到位 报警 开班 不久 此 夹 头 关闭  慢 为 维持 生产 增加   延 '],
['jfm120 滚 床 驱动  皮带  齿 损坏 更换 皮带  由于   拆除 滚 床 盖板  模块 位置 占用 修理 空间 导致 皮带 更换 时间 超过 预期'],
['cv1thre  输送 小车 在  段 停止 运行'],
['eso l6 机器人 伺服 焊枪 move error 报警'],
['jrl030ron 电极 帽 修 穿 导致  98f 焊点  焊 表 调 下线 返修 影响 生产 时间   分钟'],
['jrl100rthre 机器人 焊枪 静电  杆 电极 帽 安装 锥面 打  更换 电极 杆'],
['jfm90l4 焊接 故障'],
['jrl40ron 焊枪 反馈 信号 消失 机器人 停止 焊接'],
['jrl040 故障 报警 hmi 显示 r1 watersav 故障 检查 发现 r1 焊机 跳闸'],
['jrl130 生产 检查 人员 发现  批次 e    辆 车 左  门框 有 撞击 凹 塘'],
['jrl090 jrl100 工位  隔离 光栅 过 车  动作 导致 机 运 线  停止'],
['jfm120 r1 焊接 e10  与 板材 干涉 故障 报警'],
['jrl170 工位  车型 落 车  到位 情况 多  出现 因 落 车  到位 故障 引起 的  故障 工位 夹 头 夹 紧 升降 滚 床  在  位 控制 工程师 联机 plc 通过 程序 强制 信号  现场  操作 恢复 设备 运行'],
['jfm090  状态  跳  模式 无 报警 复位  下  辆 e1on 进  拼 gate  切换 跳  模式'],
['jrl050lon 焊接 故障 报警'],
['jrl150e1on  盖 铰链 工装 气缸 接头 损坏'],
['jrl60r2 炸 电极 帽 造成 静 握 杆 电极 帽 安装 锥面 状态 变 差 恢复  掉 电极 帽  次  更换 新 握 杆'],
['sfi110ron 炸 电极 造成 静 握 杆 电极 帽 安装 锥面 损坏'],
['eso010r 尾灯 处 夹 头 断裂'],
['jrl040 工位 un21nin pin clamp 支架  固 螺丝 断'],
['jrl070rthre watersav 报警'],
['jfm120 工位 停止  运行 维修 到 现场 检查 发现 r1 机器人 抓手 抓取 l car 焊枪  自 检 信号 di114 on  收到'],
['cv7  升降 段 小车   下降 需要  操作'],
['jfm130 工位 开 班  落 车 状态 差 问题  出现  更换 左  勾销 套 换 回  使用 的 勾销 套 夜班 开 线 验证  有  时间 评估 为  风险 工作  预防 性 更换 有 缺陷 的 勾销 套'],
['sur40 工位 机器人 r1  钉螺 柱 焊枪  电缆 连接 处 拉 弧 断 开 导致 螺 柱 焊机 故障'],
['emc040 工位 通讯  稳定 生产 午餐 时间 维修 尝试 解决 问题 更换 通讯 t 头  工位 通讯  故障'],
['jrl070lthre 焊接  虚 焊 更换 电极 帽  98f 左 后门 门框 焊点  粘 电极 帽'],
['jrl060r2 梅 达 焊机 报警  复位'],
['esirh slot8 bu off'],
['jfm090 l3 故障 报警 di102 信号  收到 换 枪 盘  动 开关 信号'],
[' 修 磨 电极 帽  机器人 故障'],
['表 调 出口 平移 工位 因   车 身 在 雪橇  位置   停止 运行 需要 工 干预  车 搬  jrl170 工位 落 车    操作 处理'],
['cv4 tc10f 运行 到位  发生  移 报警  引起 其它 运行  工位 停止'],
[' 拼  工位 上方 的 cv7 升降 段 小车 运行 震动  电刷  损坏'],
['jrl40r2 机器人 焊枪 电极 杆 安装 电极 帽 锥面 断裂 更换  杆'],
['jrl40r2 机器人 焊枪 电极 杆 安装 电极 帽 锥面 断裂 更换  杆'],
['jrl040r2 机器人 焊枪 电极 杆 锥面 断裂'],
['sfi110 工位 部分 焊点 低 电流 故障'],
['jrl050ron 焊接 控制 柜 跳闸 复位  焊接 无 电流'],
['补焊 区域 控制 电源 跳闸'],
[' 拼 补焊 线 jrl50lon r1 机器人  焊接 故障  炸 电极 帽 故障  更换  杆  次'],
['eub  liftfiv 升降 托 架 开 裂 烧 焊'],
['jrl050lon 焊枪 焊接  焊机 温 控 报警'],
['jrl060lon 焊枪 修 磨 电极 帽  电极 帽 脱落 问题  出现'],
['eso010l 报警 clamp4 动作  到位'],
['eso l2 机器人 将 焊枪 放 到 停 枪支 架    焊枪 带 出 焊枪 坠落 到 地面 导致 握 杆 损坏'],
['jrl050lon 电极 帽 修 磨  掉 落 watersav  起 作用 焊枪 无 电  帽 焊接'],
['jrl50ron 焊枪 修 磨 电极 帽  电极 帽 脱落 watersav 没有 报警 停止 设备 运行 焊枪 打 坏  握 杆 更换  握 杆 调整 watersav 灵敏度 焊 车  辆  转动 换 枪 盘 内部  路 更换 短路 的  电源 电刷 模块'],
['sfi110l2 出现 焊接 故障 低 电流 无 电流 报警'],
['jfm090 r2 第一 辆 98f 焊接 完成  修 磨 电极 帽 电极 帽 掉落 进 工位 安装 电极 帽  右侧 gate 锁 紧 销  到位'],
['jfm090 工位 机器人 r3 焊枪 e  车型 焊接 故障'],
['生产 过程  jrl120lon 焊枪  打开  行程'],
['sfi110rthre 机器人 切换 98f 车型  换 枪 失败'],
['jfm090lon 焊接 98f   轴 碰撞 报警 201on 12 1on 更换 保养  的 机器人'],
['jfm120lon 焊接   gun close  关闭 焊接 报警'],
['esor20 工位 r2 机器人 d net 通讯 故障 报警 所有 devicenet 模块  显示 error 报警   是 处 在 机器人 抓住  放开 抓手  的 位置'],
['eso l2 机器人 将 焊枪 放 到 停 枪支 架   感应 焊枪 的 传感器 信号  收到'],
['jrl120lon l car  backup  能 打开'],
['jrl050l2 焊枪 握 杆 压 板 螺丝 断 引起 电极 对 中心 差 车身 焊点 扭曲'],
['jfm110 滚 床  升 过程  故障 车型 丢失 底板 夹 头 动作 次序 错乱'],
['jfm150 右侧 激光 焊枪 停止 焊接 激光 焊机 点火 电 压   报警  circuit board 故障'],
['esor20 工位 r2 机器人 d net 通讯 故障 报警 所有 模块 error'],
['jrl070rthre 焊枪 更换 电极 帽  修 磨   杆 holder 从 adapt  旋转 松动 脱落 抢修 恢复 安装  发现 holder  螺纹  adapt  螺纹   损坏 内外 螺纹  损坏 的 备件 故障   完成 修 磨 的 电极 帽 状态'],
['esi010l 气缸 夹 头  动作'],
['jfm090 过  车型  unit206 夹 头 夹  到位 维修 进入 工位 检查 发现 夹 头 气缸 从 openg  脱落'],
['jfm90lthre 焊枪  掉 电极 帽  更换  杆'],
['cv1on 故障 报警  复位'],
['e10 后门 压 机油 缸 油 温 高 报警'],
['eso020r 工位 gripper 夹 头 产生 夹 头 印 维修 配合 处理 解决 夹 头 印 问题  生产 人员 发现 焊点    为  点焊'],
['jfm90l3 car 焊枪 焊接  车身 板材  有 拖 痕 焊点 扭曲'],
[' 盖  抓 放 gripper  碰撞 报警 e1on 新增 滚边 胎膜 放 料 表面 碰 伤'],
['sur040  钉螺 柱 焊枪 滑板 卡 死 清理 滑 轨  滑板 有 机械 动作  螺 柱 焊枪  焊接'],
['esol  转台 车型 切换  卡 死  动作'],
['esor2 抓取 e 1on  板  碰 出 凹陷'],
['jfm90lthre e car 枪 换 l car 枪  故障'],
['cv14 升降机 sfi20  轴 器 断裂'],
['eso l6 机器人  出现 seevo 6nin 报警 crcerr 报警'],
['eso l6 机器人  出现 seevo 6nin 报警 crcerr 报警'],
['eso l6 机器人 在 接近 停 枪支 架 的 位置 停止 报警 信息 显示 换 枪 盘  的  模块 通讯 故障'],
['jfm90 工位 机器人 r3 报警 停止 损坏 的 dress 抱 箍'],
['sfi60 e1on 左侧 gate un23thre 气缸 故障'],
['emc20 工位 工装 夹具 报警 停止'],
['jrl150 吊  工装 弹簧 供气 管  空中 供气 塑料管 连接  插 气管 接头 被 拉 坏'],
['eub shuttl 往  传输  车身 过程  lifton 托 架 丢失 上升 位置 '],
['efdl30lon 焊机 漏水 跳闸'],
[' 拼 补焊 线 jrl060l2 机器人  轴 处 焊接 电源 电缆  路 焊机 空 开 跳 闸'],
['jrl040l2 焊接 l car  停 在  位置  焊接'],
['ehd  组 份 胶 泵  胶 压力  超标 配 比 失调'],
['jrl020 滚 床 传动轴 断裂'],
['sfi090 转台  转动 进入 工位 检查 发现 转台 驱动 单元 构架 焊缝 开裂'],
['cv4 lifton 升降机 上升 位置 带 车 雪橇 run out   安全 活 挡 块  挡 块 拨 叉 卡住'],
['eso l6 故障 停机 报警 move error'],
['sfi110 r3 粘 电极 帽'],
['sur040lon 伺服 放大器 超 电流 报警 srvo  servo  alarm'],
[' e1on unit21f c02  夹 头 打开 卡 死'],
['tt04 转台  的 滚 床   个 雪橇 发生 碰撞'],
['eub050r2dress 喇叭口 拉 出 机器人 d net 通讯 故障'],
['jfm120r2 e car 焊枪  焊接 电 流'],
['cv14 机 运 线  车上 的 e car 内侧 围 掉 落 到 空中 平台   情况 侧 围 离 平 台  200mm'],
[' 拼  工位 gate 打开  故障 报警 工位 停止  运行  控制 气阀 动作 使 机械 机构 往复 动作  gate 锁 打开 到位'],
['jfm150 激光 焊工 位 出口  卷 帘 门  关闭'],
['cv4 tc10f 运行 到位  发生  移 报警  引起 同 区域  其它 运行  的 机 运 线 工位 停止 运行'],
['jfm120ron 机器人  焊枪 backup 没有 动作 焊枪 关闭 没有 动作'],
['过 c car  cv1on 机 运 线 car 从 buffer 区域 到  平移 台  雪橇  传感器 碰 坏'],
['sur70 r2 焊接 故障 pressur error'],
['cv14 空中 机 运 线  侧 围 升降机  辆   车 在 升降 段 追 尾 升降机 下降  后面 的 小车 卡 在 升降 段   段  造成 升降机 损坏'],
['emc 区域 devie net 通讯 报警'],
['on  r1 焊枪 没有 gun 动作 更换 r 侧 换 枪 盘  换 上 的 返修 换 枪 盘 unlock  动作'],
['eso r3 机器人 srvo  srvo  error'],
['cv4 lt0on 无 动作'],
['eub50r2 机器人 焊枪 粘 掉 电极 帽'],
['jrl40ron backup clsoe open 信号  到位'],
['sfi110 r3 伺服 焊枪 crc err 报警'],
['esi20lon  焊枪 焊接 电流  更换 焊接 水 冷 电缆   出现 焊接 变压器  震动'],
['jrl40ron 夜班 生产 结束  修理 焊枪  芯 电缆 插座 工作 完成 开 班  焊接 车  辆 出现 焊枪 backup 气缸  close backup 故障'],
['生产 过程  cv7   车 在 弯道 处 停止 在 停止 位 超 程 故障 多  有 增加 趋势'],
['jrl050r2 机器人 焊机 焊接 过程  发生 空 开 跳闸'],
['jrl050r2 机器人 运行 过程  停止'],
['eub 区域 报警 lifter2  升 到  shuttl 线  移动 造成 lifter2  的 底板  工装 干涉  被  撞击 后备 胎 箱 区域 故障  分析 现场 情况 eub lifter2 有 掉落 现象 原因 为 光栅 触发  上升 信号 丢失 气缸 刹车 磨损  上升 到 位 传感器 在 掉落 状态   被 点 亮 故 复位  lifter2 在 低位  前进 造成 撞击'],
['jbsr000pickplace2 抓手 电机 驱动 皮带 断裂 导致 升降 丝 杆 由于 无 制动 P 下坠'],
['jrl040 l2 焊接  焊机 跳闸'],
['jfm120 焊接   电极 杆 打 坏'],
['jfm150 做 e1on  r1 焊缝 跟踪 失败 使用 l1 焊接 右侧 焊缝  焊接 到 超过   停止 焊接'],
['jrl50l2 对 中心  佳 焊点 扭曲'],
[' 拼 补焊 线 jrl90 工位 右侧 滑 台 机械 结构 卡住  前后 滑动'],
['eubshuttl 线 lifter2 在 上升  到位 情况  向  水平 移动 造成 lifter2  的 底板   工位 工装 干涉'],
['eso l2 机器人 在 放 gripper   gripper 带 出 gripper 脱离 正常 位置  挂 在 停放 支架 '],
['jrl170 滚 床 输送 过程  报警 滚 床 下降  感应 器 信号 丢失'],
['eso l5 伺服 焊枪 在 焊接 过程  碰撞 报警 伺服 马达 卡 死  继续 焊接'],
['jrl110ron 焊接 l car  焊接 故障 电极 帽  车身 粘连 脱落  次'],
['jrl080lon 机器人 滚边 胎 模 信号 故障'],
['jrl080 工位 升降机 在 提升 过程  平台 倾斜 引起 工位 故障 停止'],
['内  拼 工位  停止 现场 维修 拉动 控制 工程师 检查 plc 程序 确定 故障 原因 为 右侧 gate  所有 模块 通讯 故障'],
['jrl070lon 焊机 跳闸  上 电'],
['开班 生产  生产 人员 发现 eub30lon 焊枪 焊点  有  痕迹'],
['eub20 机器人 工位 出现 通讯 故障'],
['工位 机器人 焊枪 出现 故障 停止 运行'],
['eso r6 报警 crcerr alarm'],
['焊接  炸 电极 帽'],
['cv3tc0thre  移 机 移动  驱动 电机 变频器 过载 报警'],
['jbsr p p lifter2 传输 过程  工件  工装 干涉 导致 lifter2 变形 倾斜'],
['生产 c car  jrl80ron  停止  继续 运行'],
['cv2 rb0thre  车子 无 动作'],
[' 拼  工位   到位 报警 维修 进入 工位 检查 发现 传感器 信号 电缆 被 飞溅 烫 坏'],
['sfi110r2 机器人 以太网 通讯 报警'],
['cv1thre 机 运 线 停止 运行 机 运 线  恢复 自动'],
['jfm120 更换 电极 帽  焊枪 的 断 水 保护 装置 weldsav  复位'],
['erf  放 料 机器人 网络 通讯 故障 机器人 停止 运行'],
['on cv4rb11nin 滚 床  的 雪橇 跑 偏  cv4lt11nin 下降   卡 死'],
['eso010lon  焊枪 握 杆 磨损 漏水'],
['jfm110lon 涂 胶 机器人 涂 胶 报警'],
['cv1on 雪橇 返回 线 解 垛 机  的 滚 床  运行 故障 停止'],
['jfm150 激光 焊工 位 出口 安全 防护门 内部 安全 报警 安全门  关闭'],
['jrl060lon 焊枪 焊接 故障 炸 电极 帽'],
['on sfi110rthre 换 枪  伺服 编码器 线 卡 在 换 枪 盘   r3 伺服 焊枪 dterr 伺服 报警'],
['内  拼 sfi060 工位 机器人 l3 碰撞 报警 进入 工位 检查 发现 unit21thre 夹 头 气缸 脱落'],
[' 拼 jfm120lon 机器人  轴 处 焊接 电源 电缆  路 焊机 空 开 跳闸'],
['esi020l 工装 e10 e1on 切换  转台 电机 驱动 变频器 过载 报警'],
[' 拼 激光 焊工 位 左侧 机器人 dress 弹簧 缓冲 支架 断裂'],
['sfi110lthre 机器人 运行 时报 警'],
['sfi060 工位 gate 切换 故障 ml2 导轨  的 驱动 电机  驱动 gate'],
['带 车 雪橇 在 cv2 出口 升降机  停止 运行'],
['jrl100rthre 焊接  电极 杆 与  车身 焊 死'],
['e10 后门 螺 柱 焊机 送 钉 机构 故障 导致 设备  使用'],
['src10ron  焊枪 动作 速度  导致 焊接 故障'],
[' 拼 激光 焊 左侧 机组   水流量  报警 变频器 电机 单元 电机 转子'],
[' 拼 jfm90 工位 做 e10 车型  机器人 r3 dress 套管 被 机器人 手臂 卡住 机器人 碰撞 报警'],
[' 拼 补焊 线 jrl120 曲 臂 升降 滚 床  升  有 异 响  有  大 的 震动'],
['cv1on 解 垛 机 下降 超 程 报警 停止'],
['eso 上方 cv1thre on 升降机 右侧 小车 气缸 定位 销  卡住  到位'],
['cv2  停 报警'],
['emc10 工位 手工 焊机 电源 电缆 绝缘层  外力 碰  电源 对 地 断路  导致 插 接 箱内 熔断 器 熔断'],
['sfi100l2 伺服 焊枪 压力 补偿 报警'],
['sur040ron  钉螺 柱 焊枪 故障'],
['jfm120 工位 底板 工装 夹 头  到位 报警'],
['sfi120 工位 滚 床  运行  好  坏'],
['cv4 机 运 线  故障 报警 导致  模式 丢失 需要 人员 复位  上  此 问题  发现  在 设法 解决 中 故障 出现  状态 变 差'],
['jrl50ron 机器人 放  焊枪   发生 碰撞 报警'],
['sfi060l2 机器人 j6 轴 dress 抱 箍 断裂 引起 机器人 碰撞 报警'],
['eso10r 工装 e1on 填充 件 发生 位置 偏差 发现 dump 气缸 stop 焊缝 开裂'],
['eub020 工位 完成 焊接 雪橇 板 处 夹 紧 气缸 打开   晃动 幅度   生产 通知 维修 现场 确认 状态'],
['jfm090 工位 底板 工装 在  车型   切换 到 满足  车身 下降 状态'],
['eso l6 机器人  脱开 换 枪 盘 放下 焊枪'],
['jrl100l2 机器人 wetersav 电磁 水 阀  动作   出现 机器人 死 机 现象'],
['sfi100r2 焊接 控制器  开 跳闸  合闸 焊接  辆 车  跳 闸'],
['cv1on 入口 升降机 升降 电机 驱动 变频器 f8 报警 缺  过 流 过载'],
['jfm090 工位 uon 机器人 焊接 水 冷 电缆 漏水 更换 焊接 水 冷 电缆'],
[' 拼  l1 机器人 e10 车型  寻找  到 焊缝'],
['sfi060g 关闭 无 动作'],
['emc shuttl 线 运行  报警 lift 下降  到位 复位  设备 能够 继续 运行 问题  出现'],
['emc060l2 机器人 控制 柜  焊机 以太网 报警  复位'],
['jrl050 工位  报警 r2 焊接  完成 无 动作'],
['开班 l car 粘 落 电极 帽'],
['jrl40ron 机器人 焊枪 backup  开 档 关闭  到位 报警  用 扎 带 捆扎 信号 电缆 接触 不良 处  问题  出现 机器人 程序   跳 转 恢复 设备  运行'],
['cv3 lt0on 升降机  动作'],
['eub050r2 焊枪 连接 板 断裂'],
['  调整 焊点 位置 电极 帽 修 磨 状态  佳 造成 虚 焊'],
['jfm090 工位 openg 切换  右侧 gate 停止 平移'],
['jfm090lthre 机器人 dress 抱 箍  架 乒乓 拍  螺栓 断裂 导致 线缆 接头 拉 坏'],
['jfm90l4 水管 漏水 维修  发生 换 枪 故障'],
['jfm090lthre backup 关闭 信号  到位  芯 电缆 接头 拉  焊接 电缆 磨损 短路 系列 故障 问题'],
['jfm090 工位 l3 机器人 e  车型 切换 至 l car  换 枪 盘 信号 断开'],
['eub  lifterthre  托 架 铰 接 耳环 支架 开裂  焊接 恢复 生产   开裂 焊接'],
['按 计划 进行 jfm090lthre dress 更换'],
['ehdr02 机器人  组 份 胶  胶  出 胶'],
['jrl060ron 焊接 e1on 门框 焊点  炸 电极 帽'],
['jrl080lon 机器人 e10 车型 滚边 后轮 罩 上 出现  痕迹  轮 罩 钣  件  翻'],
['eub 区域 所有 工位  上  模式'],
['eub040ron 手工 焊枪  焊接 操作'],
['jrl100rthre 做 e10  焊接  围 加强 板  有  点 虚 焊'],
['emc50l2 焊枪  焊接'],
['jfm090 报警 gate 左  锁  缸 打开  到位'],
['生产 结束   分钟  机器人 焊枪  电极 臂 冷却水 管 发热 损坏 更换  跟踪 发现 电极 杆 电极 帽   发热 损坏 的 焊枪 冷却水 管 tab 损坏 的 电极 杆'],
['eso15l 工装 气 源 报警 工装  动作'],
[' 盖 r6 机器人 更换  气 管 更换  气 源  打开  示 教 机器人 去 抓 e11gripp 因 nitta 换 枪 盘 具有 弹簧 复位 能力 抓好 gripper  信号    将 机器人 开 到 home 位置 发现 气 源  打开 打开 气 源  换 枪 盘 切换 到 unlock 状态 gripper 跌落'],
[' 拼 jfm090 工位 l3 机器人 焊枪  炸 电极 帽 e car'],
['sfi60 uon 机器人  焊接'],
['开 线  jfm090lthre 换 好 电极 帽 进行 修 磨 关 枪 速度   完成 修 磨 l3 工作  焊接 粘连 报警   恶化'],
['sfi100ron 批量 焊 穿'],
['esolh  滑 台 在  工位   返回 到位'],
['jrl030 工位 e car 工装 un216 夹 头 关闭  到位 报警'],
['e10 后门 压 机 涂 胶 机器人 涂 胶  有 断 胶 现象'],
['eso16l 气动 吊 具 上升 速度   使用'],
['  仪表 板 un238c0on 定位 销 关闭  打开  到位'],
['jfm90uon 故障 生产  车型 '],
['jrl100lthre 焊枪   车身 碰撞 焊枪 电极 杆  打开'],
['jrl060l2 dress 损坏 导致   芯 信号 线 断裂'],
['jfm090 过  u238 右  仪表 板 定位 销 报警 频繁'],
['jfm090r4 机器人 焊接 过程  电极 帽 脱落 维修 更换 上下 电极 帽  恢复 焊接 静电  杆 被 拉 偏'],
['eso l1 机器人 抓手 吸盘 失效 夹 头 板材 工装 碰撞 导致 抓手 夹 头 位置 变化'],
['jrl060r2 焊接 车身  焊接 故障 电极 帽 粘 落'],
['生产 过程  jrl110r2 焊枪  关闭  行程'],
['emc shuttl  前 围 从 emc60 搬 到 emc70   围 滑 脱'],
['emc020 气动 吊 具 移动 困难 检查 发现 导轨 开裂'],
[' 右  勾销  打开'],
['jrl50l2 焊机 故障 外壳 表面 有 水 留存'],
['jrl090 工位 滑 台 信号  到位  动作'],
['ehd  组分 胶 涂 胶 枪  出 胶'],
['eso l2 机器人  焊机 以太网 通讯 报警 机器人 热 启动 焊接  辆 车   以太网 报警'],
['jfm90 r0 r1  启动'],
['cv6 雪橇 返回 线 解 垛 机 皮带 断裂 导致 托 架 倾斜 滚 床  螺栓 断裂'],
['sub025lthre 机器人  焊机 medar 模块 故障 导致 机器人 焊枪  焊接'],
['jmc020 工位 手工 焊枪 支 轴 处 绝缘 衬套 击穿 损坏 造成 焊枪 虚 焊'],
['sur040  钉螺 柱 焊枪 滑板 卡 死 清理 滑 轨  滑板 有 机械 动作  螺 柱 焊枪  焊接'],
[' dump 气缸 传感器 没有  亮'],
['jrl050 滚 床  升 超 程'],
['jrl050ron 焊点 位置 偏'],
['cv2tc0on 摆渡 车 电机  驱动'],
[' 拼 补焊 线 控制 回路 直流电 源 开关 跳闸'],
['jrl50lon 焊枪 粘 电极 帽 造成 电极 杆 损坏'],
['jfm020   停 输出  无'],
['故障 eub050r2 机器人 抓手 轨迹  佳 抓 放 料 位置 发生 偏差'],
[' 拼 机 运 线 因 通讯  稳定 导致  停止'],
['jrl70lon 伺服 焊枪  连接 断裂'],
['早班 开班  sca 涂 胶 机 控制器  显示 not in purg pistion 异物 卡住 位置  图 为 胶 桶 封口 处 的  用 扎 带'],
['开班 生产  eub shuttl 出现  后退  到位 故障 利用 生产 轮换 吃饭 时间 on 修理 bypass 的 滑 台 到位 检测 传感器 修复  检查 滑 台 后退  到位 问题  发生 原因 检修 过程  发现  驱动 电机 变速箱 组件 基座  个 m14  螺栓 松动 为了 防止 故障 扩大 损坏 齿轮 齿条 驱动 机构 马  实施 抢修'],
['激光 焊工 位 l1 机器人 间歇 性 出现 烧 到  激光  中 止 的 现象'],
['jfm120 工位 cycl 完成   上升'],
['生产 过程  r1 机器人  挂 所有 通信 模块  报 错'],
['esor6 机器人 挂 侧 围  侧 围   小车 干涉 机器人 碰撞 报警'],
['sur40lon  工位 螺 柱 焊机 故障'],
['jfm90 gate 关闭 卡 死  动作'],
['on jrl030lon 焊接 电缆 在 dress 内部 短路 发热 熔断  jrl030lon 机器人 飞 线 的 焊接 电缆 由于  车型 轨迹 复杂 电缆 表皮 磨 破 短路'],
['jrl110 工位 cycl 完成   上升 有 超 程 报警'],
['cv3 空中 机 运 线 cl1on 凸轮 升降台 上升  到位 报警'],
['机 运 线 cv3cl1on 凸轮 升降台 上升 位置 丢失 报警'],
['jfm150lon 机器人 运行   发射 激光'],
['eub shuttl 线 电机 基座 螺丝 松动 修理'],
['cv1on 雪橇 返回 线  出现 故障'],
[' 修 磨 器 故障 导致 机器人 控制 柜 空气 开关 跳闸  工作'],
['生产 抱怨 jrl110ron 焊枪 a10 焊点  焊接  车身 补焊 造成 影响 过 车'],
['jfm090g 工位 工艺 完成  右侧 gate 驱动 电机 变频器 过 流 报警 gate  打开'],
['jfm020 工位 涂 胶 定量 泵 过载 报警  填充 胶'],
['jfm140 激光 焊 焊接 过程  激光  停止'],
['cv4  移 机  动作  模式 驱动 无效'],
['ehd045rthre 铆接 枪 碰撞 报警  点   值 超  差'],
['asolh r1 抓手 切换 出现 dress   芯 电缆 接头 拉 断'],
['jfm110 工位 雪橇 碰撞 jfm120 工位 雪橇 发生  次'],
['机器人 工作  中途 停止 devicenet 通信 网络 故障'],
['emc 区域 设备 因 plc 系统 slot7 通讯 故障  停止'],
['jfm090g 切换   由 work 位置 移动 到 storag 位置   有 减速 过程  切换  车型 丢失'],
['jfm140lon 送 丝 系统 送 丝  马达 过 电流 报警'],
['sfi100l2 焊接 无 电流 故障'],
['jrl60 机器人 焊接  故障 报警'],
['sur60 滚 床 摆 臂   造成 落 车  到位'],
['带 车 雪橇 在 sur30 停止  到位'],
['emc060lon 焊接 故障 move error 报警'],
['车顶 激光 钎 焊 焊缝 中途 停止   发生 焊缝 偏 问题'],
['sur50 r1 更换 伺服 焊枪 滑 块  出现 伺服 焊枪 电机 碰撞 报警'],
['sur50 工位 故障 停止 维修 到 现场 检修  发现 机器人 dress 套管 球 头 从 dress 抱 箍 拉 出 松 脱 的 dress 套管 钩 住 机器人  轴 电机'],
['eub030 左侧 滑 台  打开'],
['r3 机器人 焊接 车身  有 碰撞 报警   出现 srvo18 brake abnorm 报警 信息'],
['emc60lon 伺服 电机 压力 报警'],
['esol4 机器人 抓取 焊枪  出现 srvo  crcerr 报警'],
['jrl70ron 机器人 e16 61f 车型 焊点 偏移'],
['jfm90 gate 切换 故障'],
['e car 后盖 机器人 r8  plc 通讯 故障'],
['jfm090l2 机器人  开机'],
['cv7  升降 段 升降  出现 间歇 爬行'],
['gate y 向 运行  打开 关闭  有 卡 阻 现象'],
['esor4 放置 抓手  故障 报警'],
['jfm090 a10 车型  r1  达到 轨迹 点 r4  工装 发生 碰撞'],
['jfm040lon r1 机器人  抓取 cv7 升降 段 小车 侧 围'],
['jfm090uon  r3 碰撞 uon 的 焊点 跑 偏'],
[' on  抓手 升降 电机 刹车 故障    号 抓手  模块 通讯 故障'],
['cv7 出现 小车 通讯 报警 系统   工作'],
['esor6 工具 侧 换 枪 盘 模块 支架 断裂'],
['l4 机器人 devicenet 网络  5f 模块 出现 通信 故障'],
['  落 车  到位'],
['空中 机 运 线  小车 机械 故障 包 胶 轮 损坏 导致 小车  下降 小车 构架  搁 在 铝合金 导轨 '],
['sur060 滚 床  升降 过程  与 e2lb 工装 基座 干涉 摆 臂 倾斜 滚 床 倾斜'],
['eso 01on 左侧 滑 台 返回 慢   会 停滞  影响 产量'],
['焊枪 支 轴 松 导致 焊点 扭曲 程序 调用 错误 导致 焊枪  车体 干涉'],
['eub  liftthre 横梁 开裂'],
['jfm150 激光 焊枪  车身 干涉'],
['故障  eub shuttl 机 运 线 故障 故障  r2 机器人 gripper   工装 干涉  发现 gripper 有 开裂'],
['jfm110 滚 床 e car 落 车 故障 在 滚 床  升 下降 过程 雪橇 停止 位 丢失'],
['jfm090 左侧 e16g 进 l22buff  报 车型 检测 传感器 出错'],
['生产 人员 在 sur090 发现 sur010 工位 的 焊点   焊接'],
['jfm090 gate 切换 故障 右侧 gate 驱动 单元 mr2 电机 卡住  动作'],
['焊枪 伺服 电机 卡 死 更换  机器人 零位 丢失'],
[' 工位 报警 dump 打开  到位'],
['jmc p p 抓手 升降 电机 刹车 故障    号 抓手  模块 通讯 故障'],
['amc005tt 编码器 位置 值 丢失  转动'],
['r1 机器人 运行 过程  工位 出现  停  机器人 死 机  完成 焊接 工作'],
['sur080 滚 床  升降 过程  与 工装 基座 干涉 摆 臂 倾斜 滚 床 倾斜'],
['jfm090 e1f 焊接 完成  底板 勾销 打开  到位'],
['e16 右边 激光 焊  部 批量  找到 焊缝'],
['jrl090 雪橇 停止 位置  稳定 冲  头  次'],
['sfi110 r2 机器人 焊接  发生 故障  动作'],
['jfm130 工位 un20f 翻转 机构 ecar 用 翻转  到位'],
['机器人 出现 报警 on srvo 09thre  alarm 复位  启 机器人  启  出现  报警  syst  pleas power off srvo  i o link  error 断电  启'],
['sur040ron 螺 柱 焊枪  钉 dress 通讯 故障'],
['sfi060lthre 焊枪 静 臂 处 漏水'],
['sfi060lthre 焊枪 静 臂 处 漏水 焊点 虚 焊'],
['jrl030l2 e16 左侧  门槛 非  焊 点焊 穿'],
['jrl040r2 更换 电极 帽  粘 电极 帽 焊 点焊 穿'],
['asol r1 机器人 在 抓取 on 枪  机器人 过载 报警'],
['jrl040r2 更换 电极 帽  粘 电极 帽 焊 点焊 穿'],
[' l2 焊接 故障'],
[' 升降 滚 床  上升'],
['e212  从 cv1on 进 sur'],
['emc010ron 焊枪 导轨 变形 内部 滑车  移动'],
['cv1on  解 垛  雪橇 返程 转台 上 出现  个 堆 垛 雪橇'],
['eub030r2 焊枪 电极 杆 与 枪 体 紧 固 螺栓 断'],
['eub030r2 焊枪 电极 杆 与 枪 体 紧 固 螺栓 断'],
['eso l1 机器人 抓手 放 内 板   有 夹 头 打开  到位 故障 频 次 增加  每 次 出现 出现 故障  信号 能够 延迟 发出'],
[' stopper 挡 杆 adv  到位'],
['on  钉螺 柱 焊枪 第 on  点 位置  焊接 图 on   钉螺 柱 焊枪  焊接 图 '],
['cv4 tt10nin 转台 卡住'],
['erf r1 涂 胶  板材 碰撞 枪 头 导致 涂 胶 枪 损坏'],
['a604 解 垛 机 雪 撬 到位   上升 a602  的 雪橇  往 a60thre 滚 床 走'],
['jfm020 涂 胶 填充 站 充 胶 速度  影响 工位 ct'],
['asorh 转台 停止 位   抓 料 抓  工件'],
['sfi 机 运 线 跳  停'],
[' 左  gate 锁 紧 机构  到位'],
['eub050ron 焊点 扭曲 变形 炸 电极 帽'],
['jfm030 l2 胶 枪 充 胶 报警'],
[' 右侧 gate un217 气缸 打开  报警'],
['sfi060 工位 e1f 车型 左侧 gate   打开'],
['cv4 报警 rb112 维修 开关  打开'],
['cv1on 的 lt2on 升降机 停 在  hmi 显示 tf2on  报警 产品 车  移动 到 雪橇 上方'],
['jfm040 工位 是  车型  r2 用  的 抓 手 抓 取  cv7 em unload 段 的 e16 侧 围'],
['on 左侧 a10 gate work 位置 感应  到位  左  stiffen 销 子  种 车型 插 拔  到位 发生  次'],
['早班 开 班  生产 人员 发现 aso 右侧 l1 机器人 焊点 位置 偏移  多'],
['emc10ron  焊机 焊接  发生 短路 爆裂 声 声响  焊机 无 电'],
['后门 压 机 机器人 涂 胶  胶 段  完整 检修 涂 胶 控制 气管  小时  该 涂 胶 机器人  故障 涂 胶 控制 气管 被 拉 断'],
['e1f e16 滚边 工位 机器人 抓手 定位 气缸 伸缩 销 前进  到位'],
['sur70l2 机器人 伺服 焊枪  建立 压力 报警 停止 '],
['eso l6 g2  伺服 报警'],
['sur080lon 焊枪 修 磨 时报 program not exist'],
['sur080r2 g2 aon srvo  伺服 报警'],
['eso10r 通讯  稳定 通讯 模块 断电  启  次  出现 busoff 故障'],
['eso r2 机器人  放下 焊枪 换 枪 盘 电子 安全 锁 模块 故障 引起'],
['jrl040r2 焊接 a10  门框  勾 板材'],
['焊枪 焊接 完成  打开 速度  慢'],
['esor2 中频 焊机 以太网 通讯 故障'],
['ml130  盖 工装 吊 具 无 气 源'],
['sfi060 mr2  gate 移动 至 storag 位置 出错'],
['eso20r2 焊枪 伺服 马达 报警 srvo '],
['amc007 卡 钉 焊接 故障'],
['前门  焊枪 炸 焊点'],
['jfm075ron 机器人 srvo 13f  alarm'],
['sur040ron  钉 送 钉 器 卡 钉'],
['spr gunon 焊枪 检测 报警 测量  厚 超 差'],
['eub050r2 机器人  释放 抓手'],
['jfm120r2 焊接 故障  电流 报警'],
['sur40 l1 焊接   出 钉'],
['esoron 焊枪 碰撞 报警 伺服 电机 卡 死'],
['sur080 底板 pin 销  动作 机器人 焊机 报警'],
['sfi060 gate 切换 故障'],
['e16   车 在 接近  处 撞击'],
[' visio 测 头 信号  连接'],
['sur030ron mig 焊枪 卡 丝'],
['手工 焊机  焊接'],
[' 钉螺 柱 焊枪  焊接'],
[' 焊枪 backup 无 反应'],
['jrl110ron 焊枪 焊接   杆 错位'],
['eub050r2 机器人 在 工位 e6 车型   调用 e1f 程序 r2 机器人 gripper 抓取 零件 准备 放 料'],
[' 焊机  焊接'],
['jfm110 工位 机器人 调试  的 涂 胶 检测 照相 系统 以太网 报警   使用'],
['sur070r2 机器人  轴 srvo046 报警  车型'],
['cv12 tt0on 转台 滚 床 in 传感器 被 雪橇 碰  传感器 支架 碰 歪'],
['jfm090 工位 雪橇 run in 时 超 程  run out   停止 问题  出现'],
['jfm110 工位 uon 机器人 涂 胶 故障'],
['cv1on tc04  移 机  动作'],
['eub shuttl 线 lifter4  升  到位'],
['esi20r 工装  切换 车型'],
[' 处理 落 车 故障  jrl30 jrl40 滚 床 机 运 线  恢复 运行'],
['sur010 sur020 sur030 工位  停  复位 导致 sur 线  停止'],
['emc010lon 焊枪 导轨 变形 内部 滑车  移动'],
['sur040ron  钉 枪 故障'],
['jrl030lthre servo  报警'],
['a10 后盖 激光 钎 焊工 装  激光 烧坏'],
['jfm40 工位 机器人  去 检测 侧 围'],
['后门 压 机  工位  模块 通讯 故障'],
['on edlr4   工位 放 料  故障  edl140r6  去 抓 jg0on  的 料'],
['on 月  日  造 车 过程  e2  机器人 修 磨 过程  与 运动  的 底板 干涉 机器人 焊枪 电机 编码器 接头 损坏'],
['jfm040 工位 e16 车型  左侧 机器人 vision 测量 报警 bypass 当前 问题 车   车  测量 报警'],
['sur010 工位 过  车型  机器人 l2 watersav 报警'],
['emc070ron 伺服 电机 损坏 更换  电机  g2 aon 碰撞 报警'],
['jfm90r2 机器人 e1f 车型  伺服 焊枪 碰撞 报警'],
['erd 工位 涂 胶 机器人 枪 头 阀 漏 胶 维修 人员 准备 好 备件 阀  停 线 更换 完成 更换  on 小时  机器人 涂 胶 枪 头 阀  涂 胶 现场 维修 检查  确定 涂 胶 阀 内部 气 路  泄漏 东 昌 现场 库 领 用 备件   更换 涂 胶 阀'],
['jfm130lon 抓 车顶 机器人 以太网 报警'],
['jrl150 吊 具 工装 导轨 倾斜 靠 铝合金 导轨 安全 钢丝绳 维持 吊装 状态 吊架 螺栓 松 脱'],
['sfi060 切换 e1f gate 在 往 shr2 ret  卡 死 变频器 报警'],
['jfm140 工位 入口 屏蔽 门 打开  到位 报警 工位 为  车型  工位'],
['jrl50 工位 升降 滚 床  升 超 程 导致 超 程 限 位 开关 损坏'],
['jfm090 切换 e2lb 车型  右侧 gate 通讯 故障'],
['sfi100 l1 焊枪  连接   连接  拉 弧 接触 不良 导致 焊接 故障'],
['sur060lthre 机器人 碰撞 报警 焊枪  车身 干涉'],
['erf r1 抓   块  板 涂 胶 涂 胶 头 断裂'],
['fo140 激光 钎 焊 故障'],
['e1f e2  盖 滚边 工位 切换 e2 胎 模  报警 停止'],
['jrl040r2 焊枪  杆 断裂'],
['jfm020r2 填充 接头 损坏 更换 备件  涂 胶 压力 报警'],
['jfm090 工位  停 报警'],
['涂 胶 枪 头 碰撞 断裂 各 车型 涂 胶 轨迹  偏离'],
['sur040lon 焊枪 卡 钉'],
['rl80lon e2 胎膜  尼龙 块  销子 掉落'],
['jrl060 通讯 故障'],
['供应商 机器人 工程师 配合 处理 涂 胶 问题   操作 机器人 抓手 带  围 碰撞 过渡 工位  的 前 围  操作    观察 状态 维修 处理 r2 涂 胶 问题   操作 走 home  pounc 轨迹 机器人 抓手 上前 围 与 机器人  本体 碰撞  运行 状态 此时 机器人 抓手  无 前 围'],
['jfm120r2 焊接 故障  电流 报警'],
['sur030ron mig 焊枪 卡 丝'],
['e2ub010  围 机器人 涂 胶 枪 充 胶 缓慢'],
[' arpla 焊接 故障 pre forc 报警'],
['做 第二 批 轮 罩  件  发生 问题 ptr 高 配 底板 切换 低 配 底板   工位 机器人 选择  配 程序 问题  影响   工位 其中 第一 次 造成  e2ub060lon 机器人 碰撞'],
             ]
           );
         
           var options = {
             wordtree: {
         format: 'implicit',
         type:'double',
               word: '位置'
             },
             height:1000
           };
         
           var chart = new google.visualization.WordTree(document.getElementById('wordtree_basic'));
           chart.draw(data, options);
         }
    
});   
 </script>
